<?xml version="1.0" encoding="UTF-8"?>
<!-- aponwao application settings -->
<application>
	<setup>
		<codeName>aponwao</codeName>
		<title>BIENVENIDO A APONWAO FRAMEWORK</title>
		<enabled>true</enabled>
		<data>true</data>
		<debug>false</debug>		
		<security>false</security>			
		<webservices>true</webservices>			
	</setup>
	<controllers>
		<defaultController>main</defaultController>
		<main>
			<defaultAction>index</defaultAction>
			<actions>
				<index>HolaMundoAction</index>                                
			</actions>
		</main>
	</controllers>
	<webservices>
		<providers>
			<!-- agrega a la lista de servicios todas las clases contenidas en el paquete indicado -->
			<servicePackage>classes.ws</servicePackage>
			<!-- agrega un paquete de clases al classpath de webservices -->
			<!-- <classPackage></classPackage> -->
		</providers>
		<clients>
			<!--Para definir un cliente de webservices debes definir un alias de webservices
				un alias es una descripción de los parametros necesarios para comunicarse e interactuar
				con un servicio.
				
				Aponwao PHP Framework viene con un servicio ya creado y listo para ser probado.
				para una lista de las opciones de configuracion de un cliente WS por favor
				dirigirse a la documentacion del proyecto aponwao			
			-->
			<holamundo>			
				<protocol>http</protocol>			
				<wsdl>APP_BASE_URL/services/HolaMundoService/wsdl</wsdl>
			</holamundo>
		</clients>
	</webservices>
	<handlers>
		<requestHandler>
			<className>CVBasicRequestHandler</className>			
		</requestHandler>
		<sessionHandler>
			<className>CVEncodedSessionHandler</className>			
		</sessionHandler>
		<debugHandler>
			<className>CVBasicDebugHandler</className>
			<params>
				<defaultLevel>0</defaultLevel>
				<defaultFormat>xml</defaultFormat>		
			</params>
		</debugHandler>		
	</handlers>
</application>
