<IfModule mod_rewrite.c>
	Options +FollowSymLinks
	RewriteEngine on
	#app
	RewriteRule ^/?$ index.php
	#app/services
	RewriteRule ^services/?$ services/index.php
	RewriteRule ^services/([A-Za-z0-9]+)/?$ services/index.php?class=$1
	RewriteRule ^services/([A-Za-z0-9]+)/wsdl?$ services/index.php?class=$1&wsdl
	#app/controller
	RewriteRule ^([A-Za-z0-9]+)/?$ index.php?controller=$1
	#app/controller/action
	RewriteRule ^([A-Za-z0-9]+)/([A-Za-z0-9]+)/?$ index.php?controller=$1&action=$2
	#app/controller/action/method
	RewriteRule ^([A-Za-z0-9]+)/([A-Za-z0-9]+)/([A-Za-z0-9]+)/?$ index.php?controller=$1&action=$2&method=$3
	#app/controller/action/method/GETSTRING
        RewriteRule ^([A-Za-z0-9]+)/([A-Za-z0-9]+)/([A-Za-z0-9]+)/([A-Za-z0-9\+]+)?$ index.php?controller=$1&action=$2&method=$3&getstring=$4
</IfModule>
